name: CI

on: [push]

jobs:
  build:
    name: Build, lint, and test on Node ${{ matrix.node-version }}

    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install (with cache)
        uses: bahmutov/npm-install@v1
        with:
          install-command: yarn --frozen-lockfile --network-timeout 1000000

      - name: Lint
        run: yarn lint:fix

      - name: Pretty
        run: yarn pretty:fix

      - name: Test
        run: yarn test
